.termquiz {
	font-size: 2.5em;
}

.termquiz-terms,
.termquiz-definitions {
	width: 28em;
	height: 2.8em;
	margin: 1em auto;
	padding: .2em;
	border-radius: .4em;
	border: 2px solid #000;
}
.termquiz-terms {
	background-color: #ffd;
}
.termquiz-definitions {
	background-color: #ddf;
}

.termquiz-term,
.termquiz-definition {
	position: relative;
	left: 0px;
	top: 0px;
	float: left;
	margin: .2em;
	padding: .2em;
	width: 3em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	border-radius: .2em;
}
.termquiz-term {
	background-color: #ccc;
	color: #fff;
	text-shadow: 0 0 5px #000;
	border: 2px solid #000;
}
.termquiz-definition {
	background-color: #fff;
	color: #333;
	border: 2px dashed #000;
}
.termquiz-definition-hover {
	background-color: green;
}
.termquiz-dragging {
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

.termquiz-vertical {
	position: relative;
	height: 22em;
}
.termquiz-vertical .termquiz-term, .termquiz-vertical .termquiz-definition {
	float: none;
}
.termquiz-vertical .termquiz-terms, .termquiz-vertical .termquiz-definitions {
	width: 4em;
	height: auto;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -5em;
}
.termquiz-vertical .termquiz-definitions {
	margin-left: 1em;
}